@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Spline+Sans:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

#header {
    font-size:40px;
    padding-top: calc(3ch + 10px);
    padding-left: calc(3ch + 10px);
    z-index: 10;
}
h1 {
    color: #eee;
    font-family: 'Roboto Mono', monospace;
    font-size:40px;
    margin:0;
}
p {
    color: #eee;
    font-family: 'Spline Sans', sans-serif;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 10px;
}
a:link, a:visited{
    text-decoration: none;
}
.date{
    color: #bbb;
    font-size: 12px;
    margin: 0;
    user-select: none;
}
#content-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    padding: 3ch;
    margin: 40px;
}
video{
    border-radius: 15px;
    user-select: none;
}
.clip {
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    width: 300px;
    background-color: #141414;
    cursor: pointer;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    transition-duration: 1s;
    user-select: none;
}
.clip:hover {
    transform: scale(1.1);
}
.clip:active {
    transform: scale(1.05);
}

.modal{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.modal_window{
    display: flex;
    background-color: #333;
    border-radius: 15px;
    opacity: 1;
    width: 1000;
    padding: 0;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.player {
    margin: 0;
    padding: 0;
    user-select: none;
}
svg {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}
button{
    position: absolute;
    padding: 0;
    margin: 0;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0,0,0,0);
    border-style: none;
}
button:active {
    transform: scale(0.9);
}