/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Spline+Sans:wght@500&display=swap');      /* Roboto Mono and Spline Sans */
/* Body*/
body {
    background-color: #333;                                                                                               /* Dark gray background color */
    margin: 0;
    padding: 0;
}
/* Header */
#header {
    font-size:40px;
    padding-top: calc(3ch + 10px);                                                                                          /* Align with clips */
    padding-left: calc(3ch + 10px);                                                                                         /* */
}
h1 {
    color: #eee;
    font-family: 'Roboto Mono', monospace;
    font-size:40px;
    margin:0;
}
/* Clip Captions */
p {
    color: #eee;
    font-family: 'Spline Sans', sans-serif;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 10px;
}
.date {
    position: absolute;                                                                                                     /* Align to bottom left */
    bottom: 10px;
    left: 10px;                                                                                                             /* */
    color: #bbb;
    font-size: 12px;
    margin: 0;
    user-select: none;
}
.icon {
    height: 20px;                                                                                                           /* Force 20 px square */
    width: 20px;                                                                                                            /* */
    padding: 0;
    margin: 0;
}
button {
    position: absolute;                                                                                                     /* Align bottom right */
    right: 10px;
    bottom: 10px;                                                                                                           /* */
    background-color: rgba(0,0,0,0);
    border-style: none;
    padding: 0;
    margin: 0;
    user-select: none;
}
button:active {
    transform: scale(0.9);
}
/* Clips */
#content-wrapper {
    display:flex;                                                                                                           /* Clips aligned left to right top to bottom */
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;                                                                                            /* */
    padding: 3ch;
    margin: 40px;
}
video {
    border-radius: 15px;
    user-select: none;
}
img.video {
    border-radius: 15px;
    user-select: none;
}
.clip {
    position: relative;
    overflow: hidden;
    width: 300px;
    background-color: #141414;
    border: 1px solid #000;                                                                                               /* Border */
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 1s;
    padding: 10px;
    margin: 10px;
    user-select: none;
}
.clip:hover {
    transform: scale(1.1);                                                                                                  /* Increase size on hover */
}
.clip:active {
    transform: scale(1.05);                                                                                                 /* Decrease size on click */
}
/* Modal Window */
.modal {
    display: none;                                                                                                          /* Center div */
    justify-content: center;
    align-items: center;                                                                                                    /* */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    margin: 0;
    padding: 0;
}
.modal_window {
    display: flex;                                                                                                          /* Center div */
    justify-content: center;
    align-items: center;                                                                                                    /* */
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    width: 1000;
    padding: 0;
    margin: 0;
    user-select: none;
}